const layout = require('../layout');
const { users } = require('../../database/data');

module.exports = `${layout}
    <table>
      <tr>
        <th>Pseudo</th>
        <th>Age</th>
        <th>Email</th>
      </tr>
      ${users.map(({ pseudo, age, email, color }) => `
        <tr style="color:${color}">
          <td>${pseudo}</td>
          <td>${age} ans</td>
          <td>${email}</td>
        </tr>
      `).join('')}
    </table>
        
    <script src="/js/app.js"></script>
  </body>
  </html>
`;